

<!--<div>
  <%#= link_to "Ingredients list", ingredients_path  %>
</div> -->

  <div class="button-add">
    <%= link_to "Add new cocktail", new_cocktail_path, :class => "form-add-cocktail" %>
  </div>

<div class="container">
  <div class="row">
      <% @cocktails.limit(20).each do |cocktail| %>
        <div class = "card-white">
         <h1> <%= ["ðŸ¥ƒ", "ðŸ·", "ðŸ¸", "ðŸ¹"].sample %></h1>
          <div class = "card-name">
            <p> <%= link_to cocktail.name, cocktail_path(cocktail.id), style:"color: black; text-decoration: none;"%> </p>
          </div>
        </div>
      <% end %>
  </div>
</div>



<!--
      <ul> -->
        <%# @cocktails.each do |cocktail| %>
         <!-- <div class="card-group">
            <div class="card-product"> -->
            <!-- img here -->
           <!-- </div>
            <li> <%#= link_to cocktail.name, cocktail_path(cocktail.id), style:"color: black; text-decoration: none;"%> </li>
          </div> -->
        <%# end %>
      <!--</ul> -->
