.form-actions {
  background-color: darkred;
  border-radius: 10px;
  width: 200px;
  text-decoration: none;
  text-align: center;
  justify-content: center;
}

.form-button {
  color: white;
  font-weight: bolder;
  font-family: 'Cinzel', serif;
}
