.container-show {
  background-color:  rgba(255,255,255,0.1);
  padding-bottom: 10px;
}


h1 {
  color: grey;
  font-family: 'Cinzel', serif;
  padding: 20px;
}

.dose-container p {
  font-family: 'Cinzel', serif;
  color: white;
}

.dose-container .btn {
  font-family: 'Cinzel', serif;
  color: lightgrey;
  border: none;
  font-size: smaller;
}

.dose-container {
  width: 400px;
  margin-left: 50px;
  position: relative;
  border-left: 3px solid white;
  margin-bottom: 10px;
  padding-left: 10px;
}

.btn-ghost {
  color: red;
  border: 1px solid red;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-left: 20px;
}

.btn-ghost:hover {
  opacity: 0.7;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
